<nav class="navbar navbar-expand-lg" style="background-color: #e4e1df !important;"
     xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="navbar" id="navbarNavAltMarkup">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/">Home</a>
            </li>
            <li sec:authorize="hasRole('USER')" class="nav-item">
                <a class="nav-item nav-link text-dark" href="/offers/add">Add offer</a>
            </li>
            <li sec:authorize="hasRole('ADMIN')" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Add
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/brands/add">Brand</a></li>
                    <li><a class="dropdown-item" href="/models/add">Model</a></li>
                    <li><a class="dropdown-item" href="/offers/add">Offer</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/brands/all">All Brands</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/models/all">All Models</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/offers/all">All Offers</a>
            </li>
            <ul class="navbar-nav ms-auto d-flex flex-row">
                <li class="nav-item me-3 ms-auto" sec:authorize="isAuthenticated()">
                    <a class="nav-item nav-link text-dark text-info" href="/users/profile"><th:block sec:authentication="name"></th:block></a>
                </li>
            </ul>
        </ul>
    </div>
</nav>
